.container * {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  padding: var(--padding-desktop) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .container {
    padding: var(--padding-tablet) 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--padding-mobile) 0;
  }
}
