.page {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    var(--main-color) 0%,
    rgba(var(--secondary-color-rgb), 0.025) 20%,
    rgba(var(--secondary-color-rgb), 0.05) 40%,
    rgba(var(--secondary-color-rgb), 0.075) 70%,
    rgba(var(--secondary-color-rgb), 0.1) 80%,
    rgba(var(--secondary-color-rgb), 0.1) 100%
  );
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--padding-desktop) var(--padding-desktop);
}

.cardGrid {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-lg);
  height: fit-content;
  margin-top: var(--padding-tablet);
}

.staffSection h1 {
  font-size: var(--text-4xl);
  text-align: left;
  margin-bottom: var(--margin-lg);
}

.staffSection {
  color: var(--secondary-color);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-desktop);
}

@media (max-width: 1280px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .main {
    padding: 0 var(--padding-tablet) var(--padding-tablet);
  }
  .staffSection {
    padding-top: var(--padding-tablet);
  }
  .staffSection h1 {
    font-size: var(--text-4xl);
    text-align: center;
    margin-bottom: var(--margin-lg);
  }
}

@media (max-width: 769px) {
  .cardGrid {
    grid-template-columns: 1fr;
    gap: var(--gap-md);
  }
  .main {
    padding: 0 var(--padding-mobile) var(--padding-mobile);
  }
}
