.page {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 1440px;
}

.cardGrid {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-md);
  height: fit-content;
}

.staffSection h1 {
  font-size: var(--text-4xl);
  text-align: center;
  margin-bottom: var(--margin-xl);
}

.staffSection {
  color: white;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: var(--padding-desktop);
}

@media (max-width: 1260px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .cardGrid {
    gap: var(--gap-md);
  }
  .staffSection {
    padding: var(--padding-tablet);
  }
}

@media (max-width: 769px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
  .staffSection {
    padding: var(--padding-mobile);
  }
}
