.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--theme-gradient);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  max-width: 1440px;
  padding: var(--padding-desktop);
}

.headerWrapper {
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: -1.5%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  gap: var(--gap-xl);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  color: rgba(var(--secondary-color-rgb));
}

.leftColumnItem {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.leftColumnItemHeading {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.5%;
  border-left: 2px solid var(--secondary-color);
  padding-left: 16px;
}

.leftColumnItemText {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(var(--secondary-color-rgb));
}

.rightColumn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kenaImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 1440px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .leftColumn {
    order: 2;
  }
  .rightColumn {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    order: 1;
  }
  .grid {
    gap: var(--gap-sm);
  }
  .section {
    gap: var(--gap-sm);
  }
}

@media (max-width: 1024px) {
  .section {
    padding: var(--padding-tablet);
    gap: var(--gap-sm);
  }
}

@media (max-width: 768px) {
  .section {
    padding: var(--padding-tablet) var(--padding-mobile);
  }
}
