.sidebar {
  position: fixed;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(var(--secondary-color-rgb), 0.2);
  background: rgba(var(--secondary-color-rgb), 0.05);
  border-radius: 6px;
  color: rgba(var(--secondary-color-rgb), 1);
  text-decoration: none;
  transition: all 50ms ease-in-out;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.socialLink svg {
  width: 18px;
  height: 18px;
}

/* Limit Hover Effects to Non Touch Devices */
@media (pointer: fine) and (hover: hover) {
  .socialLink:hover {
    background: rgba(var(--accent-color-rgb), 0.1);
    border-color: var(--accent-color);
    color: var(--accent-color);
    box-shadow: 0 0 20px rgba(var(--accent-color-rgb), 0.3);
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
