legacy-peer-deps=true
registry=https://registry.npmjs.org
@k-lab:registry=https://pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/registry/:username=klab-inc
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/registry/:_password=QUNobHNiSUJyZmhEYVk0aFJWTHhtYnBNT1ZJSmNyU1NqRjdZZndJMW9neXlldHZCV2hnaUpRUUo5OUNDQUNBQUFBQUQzTU5SQUFBU0FaRE8xQ1A2
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/:username=klab-inc
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/:_password=QUNobHNiSUJyZmhEYVk0aFJWTHhtYnBNT1ZJSmNyU1NqRjdZZndJMW9neXlldHZCV2hnaUpRUUo5OUNDQUNBQUFBQUQzTU5SQUFBU0FaRE8xQ1A2
//pkgs.dev.azure.com/klab-inc/_packaging/keo-gbl-utilities-tools/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
