.root {
  position: relative;
  overflow: hidden;
  line-height: 0;
}

.inner {
  display: flex !important;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  align-items: center;
  justify-content: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
  outline: none;
}

.root :global(img) {
  width: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: 100%;
  max-height: 100%;
}

.objectContain {
  object-fit: contain;
}

.objectCover {
  object-fit: cover;
}

.objectFill {
  object-fit: fill;
}
