/* NAVBAR CONTAINER */
.spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: var(--navbar-height) !important;
  background-color: transparent;
}

.container {
  top: 0;
  position: fixed;
  display: block;
  padding: 0 var(--padding-desktop);
  width: 100%;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  transition: all 300ms ease-in-out;
  border-bottom: 1px solid transparent;
}

.containerDropdownOpen {
  padding-bottom: 24px;
  background: var(--main-color-75);
  backdrop-filter: blur(8px);
  border-bottom: solid 1px rgba(var(--primary-white-rgb), 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerScrolled {
  background-color: var(--main-color-75);
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75); Subtle dark shadow */
  box-shadow: 0px 4px 12px rgba(255, 0, 76, 0.4), 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Stronger pink shadow with depth */
  box-shadow: 0px 6px 20px rgba(255, 0, 76, 0.5);
  box-shadow: none;
  backdrop-filter: blur(8px);
  border-bottom: solid 1px rgba(var(--primary-white-rgb), 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container * {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height) !important;
  z-index: 1001;
}

.logoContainer {
  position: relative;
  z-index: 1000;
}

.logoContainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navLink {
  height: 100%;
  padding: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-white);
  border: 1px solid transparent;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif !important;
  font-size: var(--text-md);
}

.separatorRoot {
  width: 1px !important;
  height: 30px !important;
  background-color: var(--primary-white) !important;
}

.icon {
  margin-right: var(--margin-xs);
}

.caretIcon {
  transition: transform 250ms ease;
}

.caretIconOpen {
  transform: rotate(180deg);
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 100%;
}
.navLink:hover {
  color: var(--accent-color) !important;
}

.navListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  margin: 0;
  list-style-type: none;
  color: var(--primary-white) !important;
  cursor: pointer;
  z-index: 10000;
  border-radius: 12px;
  border: 1px solid transparent;
  font-size: var(--text-md);
}

.navListItem:hover {
  color: var(--accent-color) !important;
}

.drawerContainer {
  display: none;
  padding-right: 6px;
}

.themeToggleContainer {
  z-index: 100001;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .navList {
    display: none;
  }
  .drawerContainer {
    display: flex;
  }
  .container {
    padding: 0 var(--padding-tablet);
  }
}

@media only screen and (max-width: 769px) {
  .navList {
    display: none;
  }
  .drawerContainer {
    display: flex;
  }
  .container {
    padding: 0 var(--padding-mobile);
  }
}
