.section {
  background: transparent;
  width: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  max-width: 1440px;
  padding: var(--padding-desktop);
}

.globe {
  position: absolute;
  right: 0;
  bottom: 0;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-md);
  margin-top: 80px;
}

.card {
  background-color: rgba(var(--main-color-rgb), 0.5);
  border: 1px solid rgba(var(--secondary-color-rgb), 0.1);
  border-radius: 16px;
  padding: var(--padding-mobile);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  box-shadow: var(--shadow-black);
  gap: var(--gap-md);
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--secondary-color);
}

.cardDescription {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: rgba(var(--secondary-color-rgb), 1);
  margin: 0;
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    padding: var(--padding-tablet);
    gap: var(--gap-lg);
  }
  .cardsGrid {
    grid-template-columns: 1fr;
  }
  .globe {
    transform: scale(0.9);
    transform-origin: right bottom;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    padding: 0 var(--padding-mobile) var(--padding-tablet);
    gap: 0;
  }
  .card {
    padding: var(--padding-mobile);
  }
  .globe {
    transform: scale(0.8);
    transform-origin: right bottom;
  }
}
