.container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-xl);
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  padding: var(--padding-desktop);
}

.textContent {
  order: 0;
  background-color: var(--primary-white);
  padding: var(--padding-mobile);
  color: var(--main-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
}

.textContent h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
}

.textContent p {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

.inputButtonContainer {
  display: flex;
  flex-direction: row;
  width: 400px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input {
  flex: 1;
  height: 100%;
  padding: 12px 16px;
  font-size: var(--text-base);
  border: 1px solid var(--main-color-10);
  border-radius: 100px 0 0 100px;
  outline: none;
  transition: border-color 0.2s ease;
}

/* Subscribe Button */
.buttonContainer {
  flex: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 12px 24px;
  background-color: #ff004cff;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--text-base);
  letter-spacing: 1px;
  border-radius: 0 100px 100px 0;
  transition: all 300ms ease-in-out;
  border: none;
}

.button:hover {
  background-color: #e6003f;
  box-shadow: 0px 6px 20px rgba(255, 0, 76, 0.6),
    0px 0px 30px rgba(255, 0, 76, 0.4);
}

.button:active {
  transform: scale(0.98);
}

.formField {
  position: relative;
}

.formMessage {
  position: absolute;
  top: -60%;
  color: var(--accent-color);
  margin-bottom: var(--margin-lg);
  font-size: var(--text-sm);
}

@media (max-width: 1024px) {
  .container {
    gap: var(--gap-sm);
    padding: var(--padding-desktop) var(--padding-tablet);
  }
  .inputButtonContainer {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .container {
    gap: var(--gap-xl);
    grid-template-columns: 1fr;
    padding: var(--padding-desktop) var(--padding-mobile);
  }
}
