.container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-xl);
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  padding: 0 var(--padding-desktop) var(--padding-desktop)
    var(--padding-desktop);
}

.textContent {
  border: 1px solid var(--main-color-10);
  box-shadow: var(--shadow-xl);
  order: 0;
  background-color: var(--secondary-color);
  padding: var(--padding-mobile);
  color: var(--main-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.textContent h2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
}

.textContent p {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
}

/* Login Button */
.loginContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.loginButton {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 12px 24px;
  background-color: #ff004cff;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--text-base);
  letter-spacing: 1px;
  border-radius: 100px;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 4px 16px rgba(255, 0, 76, 0.4),
    0px 0px 20px rgba(255, 0, 76, 0.2);
}

.loginButton:hover {
  background-color: #e6003f;
  box-shadow: 0px 6px 20px rgba(255, 0, 76, 0.6),
    0px 0px 30px rgba(255, 0, 76, 0.4);
}

.loginButton:active {
  transform: scale(0.98);
}

@media (max-width: 1024px) {
  .container {
    gap: var(--gap-sm);
    padding: var(--padding-desktop) var(--padding-tablet);
  }
}

@media (max-width: 769px) {
  .container {
    gap: var(--gap-xl);
    grid-template-columns: 1fr;
    padding: var(--padding-desktop) var(--padding-mobile);
  }
}
