.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding: var(--padding-desktop);
}

.textContent {
  order: 0;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.chartGrid {
  max-width: calc(1080px);
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

@media (max-width: 1024px) {
  .container {
    padding: var(--padding-desktop) var(--padding-tablet);
  }
}

@media (max-width: 769px) {
  .textContent {
    order: 2;
  }
  .chartGrid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .container {
    padding: var(--padding-desktop) var(--padding-mobile);
  }
}
