.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: var(--padding-desktop) 0;
}

@media (max-width: 1024px) {
  .container {
    padding: var(--padding-tablet);
  }
}

@media (max-width: 769px) {
  .container {
    padding: var(--padding-mobile) 0;
  }
}
