.main {
  min-height: 100vh;
  padding: var(--padding-desktop) 0;
  background: linear-gradient(
    180deg,
    var(--main-color) 0%,
    rgba(var(--secondary-color-rgb), 0.025) 20%,
    rgba(var(--secondary-color-rgb), 0.05) 40%,
    rgba(var(--secondary-color-rgb), 0.075) 70%,
    rgba(var(--secondary-color-rgb), 0.1) 100%
  );
}
