.section {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: -3.5vw;
  padding: 0;
  background: hsl(var(--background));
  overflow: clip;
  pointer-events: none;
}

@media (max-width: 768px) {
  .section {
    margin-top: calc(var(--padding-tablet) * -0.5);
  }
}
