.page {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 0;
}

.staffContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--theme-gradient);
}

.staffSection h1 {
  font-size: var(--text-4xl);
  text-align: left;
  margin-bottom: var(--margin-lg);
}

.staffSection {
  color: var(--secondary-color);
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: var(--padding-desktop);
}

@media (max-width: 1024px) {
  .staffSection {
    padding: var(--padding-tablet);
  }
  .staffSection h1 {
    font-size: var(--text-4xl);
    text-align: center;
    margin-bottom: var(--margin-lg);
  }
}

@media (max-width: 768px) {
  .staffSection {
    padding: var(--padding-tablet) var(--padding-mobile);
  }
  .staffSection > div > h2 {
    margin-left: 0;
  }
}
