/*
  Arbitrarily sized & positioned element that will
  contain the embedded video as background.
*/
.backgroundVideo {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: calc(100% + var(--navbar-height));
  z-index: -1;
  top: calc(var(--navbar-height) * -1);
  left: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: hsl(var(--background));
  opacity: 0.85;
}

.poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0; /* Start with full transparency */
  transform: translateY(8px);
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
  z-index: 0;
}

.poster img {
  object-fit: cover;
}

.posterShow {
  opacity: 1;
}

.posterHide {
  opacity: 0;
}

.posterEnter {
  opacity: 1;
  transform: translateY(0);
}

/*
  This element contains the iframe, will take it's size from
  it's parent and will behave like an image/video
  with object-fit: cover.
*/
.videoEmbedObjectFitCover {
  position: absolute;

  /* ensure positioning regardless of parent flex settings */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  /* important */
  container-type: size;

  /* cut off overflowing video */
  overflow: hidden;
}

#iframe {
  transition: all 2000ms ease-in-out;
}

.videoEmbedObjectFitCover > iframe {
  position: absolute;
  /* keep video centered both vertically and horizontally */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  /* force aspect ratio based on parent container */
  @container (min-aspect-ratio: 16/9) {
    height: 56.25cqw;
  }

  @container (max-aspect-ratio: 16/9) {
    width: 177.78cqh;
  }

  /* prevent interaction */
  pointer-events: none;
}

.backgroundVideo > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
