.container * {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  min-height: fit-content;
}

.videoSection {
  width: 100%;
  max-width: 1440px;
  padding: var(--padding-desktop);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-1.5 * var(--padding-desktop));
}

.lastSectionWrapper {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(var(--secondary-color-rgb), 0.1) 0%,
    rgba(var(--secondary-color-rgb), 0.1) 20%,
    rgba(var(--main-color-rgb), 0.2) 40%,
    rgba(var(--main-color-rgb), 0.5) 70%,
    rgba(var(--main-color-rgb), 0.7) 80%,
    rgba(var(--main-color-rgb), 1) 100%
  );
}

/* Responsive Design */
@media (max-width: 1024px) {
  .videoSection {
    padding: var(--padding-tablet);
  }
}

@media (max-width: 768px) {
  .videoSection {
    margin-top: calc(-1 * var(--padding-desktop));

    padding: var(--padding-tablet) var(--padding-mobile);
  }
}
