.content {
  width: 100%;
  height: fit-content;
  margin: 0 0 var(--padding-desktop);
}

.section {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: var(--gap-lg);
  flex-direction: row;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: var(--padding-tablet);
}

.text {
  height: 100%;
  width: fit-content;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--gap-md);
}

.lightbulb {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--padding-tablet);
}

.textContainer {
  flex: 1;
  width: 100%;
}

.textHeader,
.textParagraph {
  font-size: 1.3rem;
}

.videoContainer {
  width: 100%;
  height: auto;
  aspect-ratio: 6/4;
  border-radius: 12px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: auto;
  aspect-ratio: 6/4;
  border-radius: 12px;
}

@media (max-width: 1440px) {
  .text {
    gap: var(--gap-sm);
  }

  .textHeader,
  .textParagraph {
    font-size: 1.3rem;
  }
}

/* Tablet design */
@media (max-width: 1024px) {
  .text {
    gap: var(--gap-sm);
    width: 100%;
    flex-direction: row-reverse;
  }
  .lightbulb {
    padding: var(--padding-mobile);
    width: fit-content;
  }
  .section {
    flex-direction: column;

    gap: var(--gap-md);
    padding: var(--padding-mobile);
  }

  .textHeader,
  .textParagraph {
    font-size: 1.3rem;
  }
  .content {
    margin: 0 0 var(--padding-tablet);
  }
}

/* Mobile design */
@media (max-width: 768px) {
  .textHeader,
  .textParagraph {
    font-size: 1.3rem;
  }
  .section {
    gap: var(--gap-md);
  }
  .videoContainer,
  .video {
    aspect-ratio: 16/9;
  }
  .content {
    margin: 0 0 var(--padding-tablet);
  }
  .text {
    width: 100%;
  }
}

/* Mobile design */
@media (max-width: 600px) {
  .textHeader,
  .textParagraph {
    font-size: 1.3rem;
  }
  .section {
    gap: var(--gap-md);
    padding: var(--padding-mobile);
  }
  .videoContainer,
  .video {
    aspect-ratio: 16/9;
  }
  .content {
    padding: var(--padding-mobile);
  }
  .text {
    width: 100%;
  }
}
