.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-desktop);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0;
  width: 100%;
  gap: var(--gap-lg);
}

.heading {
  color: var(--secondary-color);
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -1.5%;
  flex: 1;
}

.subheading {
  color: var(--secondary-color);
  margin-bottom: 40px;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5%;
}

.arrow {
  transition: transform 0.3s ease;
}

.ctaButton:hover .arrow {
  transform: translateX(4px);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .container {
    padding: var(--padding-tablet);
  }
  .content {
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--padding-tablet) var(--padding-mobile);
  }
  .content {
    flex-direction: column;
    gap: var(--gap-md);
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.25rem;
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.125rem;
  }
}
